body,
html {
	  background: url("https://2.bp.blogspot.com/-GeEVOAWyDEU/TehPmgDVRII/AAAAAAAAAEk/OjcnO-FtupI/s1600/bosta%2B002-761822.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	

}